@import 'reset';
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');



h1 {
	position: absolute;
	top: 15vh;
	left: 50%;
	transform: translateX(-50%);
	z-index: 2;
}
.sns {
	position: absolute;
	top: 15vh;
	right: 10%;
	display: flex;

	a {
		font-size: 20px;
		color: #fff;
		margin: 0 10px;
		opacity: 0.5;
		transition: 0.5s;
		display: inline-block;

		&:hover {
			opacity: 1;
			transform: scale(1.5);
		}
	}
}
nav {
	width: 100%;
	height: 50px;
	position: absolute;
	top: 50%;
	margin-top: -25px;
	left: 0;
	background: rgba(0, 0, 0, 0.8);
	z-index: 3;
	display: flex;
	justify-content: center;

	article {
		width: 200px;
		height: 100%;
		text-align: center;
		position: relative;
		perspective: 700px;

		//1depth
		> a {
			font: 12px/50px 'orbitron';
			color: #aaa;
			letter-spacing: 1px;
			transition: 0.5s;
		}

		//2depth
		div {
			width: 100%;
			height: 300px;
			position: absolute;
			left: 0;
			top: -100px;
			background: rgba(0, 0, 0, 0.5);
			border: 1px solid #000;
			padding: 10px;
			opacity: 0;
			transform: scale(0) rotateY(360deg);
			transition: 0.5s;

			p {
				width: 100%;
				height: 90px;

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}

			h2 {
				height: 50px;
				font: bold 12px/50px 'orbitron';
				color: #fff;
				text-align: center;
				letter-spacing: 1px;
			}

			ul {
				width: 100%;
				height: 150px;
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				align-content: space-evenly;

				li {
					width: 100%;
					display: flex;
					justify-content: center;
					align-items: center;

					a {
						font: 12px/1 'orbitron';
						color: #888;
						letter-spacing: 1px;
						transition: 0.5s;

						&:hover {
							color: orange;
						}
					}
				}
			}
		}

		//article에 호버시 2dpth모션
		&:hover {
			> a {
				margin-left: -100px;
				opacity: 0;
			}
			div {
				opacity: 1;
				transform: scale(1) rotateY(0deg);
			}
		}
	}
}
section {
	width: 100%;
	height: 50vh;
	position: absolute;
	left: 0;
	top: 25vh;
	background: #222;

	img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		display: none;
	}
}
footer {
	width: 100%;
	height: 40px;
	padding: 0px 10%;
	background: #111;
	border-top: 1px solid #333;
	position: absolute;
	bottom: 0;
	left: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font: 11px/1 'arial';
	color: #555;
	letter-spacing: 1px;

	ul {
		display: flex;
		gap: 30px;

		li {
			&:nth-of-type(1) {
				color: #999;
			}
		}
	}
}
